<template>
  <v-app dark>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
      style="backgroundImage: url('/images/background.jpg')"
      height="50px"
      dark
    >
      <v-layout
        align-center
        justify-center
        style="backgroundColor: rgba(33, 90, 155, 0.61); width: 100%; height: 100%;"
      >
        <v-layout align-center style="height: 100%; max-width: 1145px;">
          <img src="/images/logo.png" width="125px"/>
          <v-spacer/>
          <client-only>
            <div style="height: 100%;" v-for="(btn, i) in items" :key="i">
              <app-nav-btn
                :to="btn.to"
                :btn_text="btn.title"
                v-if="$vuetify.breakpoint.width > 1145 "
                @clicked="goTo($event)"
              />
            </div>

            <v-layout row justify-end align-center v-if="$vuetify.breakpoint.width < 1145">
              <p>Войти</p>
              <v-app-bar-nav-icon @click.stop="rightDrawer = !rightDrawer"/>
            </v-layout>
          </client-only>
        </v-layout>
      </v-layout>
    </v-app-bar>
    <v-content style="padding: 50px 0 0;">
      <v-container :class="$auth.loggedIn? 'main_container' : 'main_container_unauth'">
        <app-loader v-if="loader"></app-loader>
        <nuxt v-else/>
      </v-container>
      <!-- Всплывающее системное сообщение -->
      <client-only>
        <v-snackbar v-model="snackbar" top :timeout="3000" :color="snackText.color">
          {{ snackText.text }}
          <v-btn icon @click="snackbar = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-snackbar>
      </client-only>
      <!-- ------------------------------ -->
      <!-- Форма входа -->
      <v-dialog v-model="showLoginForm && !$auth.loggedIn" width="480">
        <v-card class="pa-2">
          <v-card-title class="pa-1">
            Вход
            <div class="flex-grow-1"></div>
            <v-btn icon text @click="showLoginForm = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-card-title>
          <v-card-text>
            <app-login-form/>
          </v-card-text>
        </v-card>
      </v-dialog>
      <!-- ----------- -->
    </v-content>
    <v-navigation-drawer class="pa-2" v-model="rightDrawer" :right="right" temporary fixed>
      <v-btn v-if="$auth.loggedIn" @click="$auth.logout()">logout</v-btn>
      <app-login-form v-else/>
    </v-navigation-drawer>
    <client-only>
      <v-footer
        dark
        style="backgroundColor: #005983;"
        :fixed="fixed"
        app
        v-if="$vuetify.breakpoint.width < 1145 && !loader"
      >
        <app-bootom-nav :items="items"/>
      </v-footer>
    </client-only>
  </v-app>
</template>

<script>
  import Vue from "vue";
  import gql from "graphql-tag";

  export default {
    data() {
      return {
        clipped: false,
        drawer: false,
        fixed: false,
        items: [
          {
            icon: "mdi-apps",
            title: "Вселенная",
            to: "/"
          },
          {
            icon: "mdi-apps",
            title: "Новости",
            to: "/nov"
          },
          {
            icon: "mdi-apps",
            title: "Сообщества",
            to: "/kom"
          },
          {
            icon: "mdi-apps",
            title: "Знания",
            to: "/akd"
          },
          {
            icon: "mdi-apps",
            title: "Общение",
            to: "/knf"
          },
          {
            icon: "mdi-apps",
            title: "Войти",
            to: () => {
              this.$siriuso.showLoginForm();
            }
          }
        ],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: "Vuetify.js"
      };
    },

    computed: {
      snackbar: {
        set: function (val) {
          this.$store.commit("system/setSnackbar", val);
        },
        get: function () {
          return this.$store.state.system.snackbar;
        }
      },

      showLoginForm: {
        set: function (val) {
          this.$store.commit("system/setShowLoginForm", val);
        },
        get: function () {
          return this.$store.state.system.show_login_form;
        }
      },

      snackText() {
        if (this.$store.state.system.messages.length === 0) {
          return {text: "", color: null};
        }

        return this.$store.state.system.messages[0];
      }
    },

    methods: {
      goTo(action) {
        if (typeof action === "string") {
          this.$router.push(action);
        } else if (typeof action === "function") {
          action();
        }
      }
    },

    mounted() {
      /**
       * Тест подписки
       * Читаем про способы подписки тут:
       * https://vue-apollo.netlify.com/guide/apollo/subscriptions.html#subscribe-to-more
       */
      // Websocket только на стороне клиента и только для авторизированного пользователя
      if (process.client && this.$auth.loggedIn) {
        const query = gql`subscription($chats: [Int]!) {
  mesagxiloEventoj(babilejoj: $chats) {
    evento
    babilejo {
      uuid
      objId
      nomo {
        enhavo
      }
    }
    objekto {
      ... on MesagxiloMesagxoNode {
        uuid
        posedanto {
          objId
          unuaNomo {
            enhavo
          }
          familinomo {
            enhavo
          }
          avataro {
            bildoF {
              url
            }
          }
        }
        teksto {
          enhavo
        }
      }

      ... on UzantoNode {
        objId
        unuaNomo {
          enhavo
        }
        familinomo {
          enhavo
        }
        avataro {
        	bildoF {
            url
          }
      	}
      }
    }
  }
}`;

        // объявляем быструю подписку
        const observer = this.$apollo.subscribe({
          query: query,
          variables: {
            chats: [1] // Сюда указать ID отслеживаемого чата
          },
        });

        // отправляем запрос с подпиской на сервер
        observer.subscribe({
          // функция обработки данных
          next(data) {
            console.log(data)
          },
          // функция обработки ошибки подписки
          error(error) {
            console.error(error)
          }
        })
      }
    },

    created() {
      // Добавляем прототип для использования во всех компонентах Vue
      if (!this.hasOwnProperty("$siriuso")) {
        const siriuso = {
          showInfo: text => {
            this.$store.dispatch("system/showInfo", text);
          },

          showSuccess: text => {
            this.$store.dispatch("system/showSuccess", text);
          },

          showError: text => {
            this.$store.dispatch("system/showError", text);
          },

          showLoginForm: () => {
            this.$store.dispatch("system/showLoginForm");
          }
        };

        Vue.prototype.$siriuso = siriuso;
      }
    }
  };
</script>

<style scoped>
  .main_container_unauth {
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }

  .main_container {
    width: 1145px;
    height: 100%;
    min-height: 100vh;
  }
</style>